.root {
    -fx-font-family: "Roboto";
}

.button:hover {
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #585858;
    -fx-min-height: 40;
    -fx-min-width: 180;
    -fx-font-size:14px;
}

.label {
    -fx-text-fill:#FFFFFF;
    -fx-font-size:23px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size:15px;
}

.chart .label {
    -fx-text-fill:#383838;
    -fx-font-size:20px;
}

/*
Resource: https://stackoverflow.com/questions/27354085/disable-row-selection-in-tableview
          how to remove selection styling for category journal table
*/

.category-journal-table .table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.category-journal-table .table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt ;
}