.button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #585858;
    -fx-min-height: 40;
    -fx-min-width: 180;
    -fx-font-size:14px;
}

.label {
    -fx-text-fill:#FFFFFF;
    -fx-font-size:23px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size:15px;
}

.chart .label {
    -fx-text-fill:#383838;
    -fx-font-size:20px;
}

/* https://stackoverflow.com/questions/28253169/javafx-how-to-make-the-border-of-imageview-when-i-click-the-imageview */

.image-view-wrapper-on:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.image-view-wrapper-off:border {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}